In [24]:
###EJERCICIOOS

In [25]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
# importa directo tu dataset
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)

#
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [ ]:
#describe tu dataset
#esta limpia???
#como se ven tus correlaciones, vusializaciones
#crea tu historia y cuentamela

In [27]:
##te acuerdas de Ridge y de Lasso porque no intentas con este dataset y escoge entre regresion linear
##Ridge o Lasso y me cuentas porquee??
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model

# Se cargan los datos
diabetes = datasets.load_diabetes()

In [28]:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [33]:
###de todos los modelos que vimosss cuentame tu historiaa y escoge el mejor modelo para clasificar estos vinos
wine=datasets.load_wine(return_X_y=False)

In [35]:
wine.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])