# ¡Bienvenidos a la segunda semana del Mastery Data Science: Pandas!

### Objetivo de la sesión 2 semana 2: 

* Conocer las ventajas de utilizar Pandas.
* Cargar un conjunto de datos utilizando Pandas.
* Conocer y utlilizar las operaciones básicas de Pandas.
* Localizar posibles aplicaciones

#Antes de empezar, un repaso
En la última sesión vimos como usar arreglos de Numpy.

*   ¿Cómo creas una lista en Python?
*   ¿Cómo creas un diccionario en Python?
*   ¿Qué librería sirve para crear números aleatorios?
*   ¿De qué otra forma les llamamos a las listas?
*   ¿Cuáles son las ventajas de usar NumPy?
*   ¿Cómo importar la librería de NumPy?
*   ¿Cómo se creaba un arreglo de una dimensión en Numpy?
*   ¿Cómo se creaba un arreglo de dos dimensiones en Numpy?

# 1. Introducción

## 1.1 Numpy vs Pandas

*Pandas* es un librería de Python para el análisis de datos, la cual esta construida sobre múltiples librerías, entre ellas esta NumPy. Ofrece múltiples herramientas para la exploración, limpieza y trasformación de datos, las cuales son procesos críticos al trabajar con datos en Python.

## 1.2 Recursos externos

Al ser una herramienta tan completa, es imposible cubrir todas sus operaciones en la sesión, por ello recomendamos las siguientes fuentes 

- Documentación oficial: http://pandas.pydata.org/pandas-docs/stable/
- *Python for Data Analysis* por *Wes McKinney*
- *Python Data Science Handbook* por Jake VanderPlas

## 1.3 Antes de empezar

### 1.3.1 ¿Cómo importar *pandas*? 

Podemos hacerlo de la manera tradicional y es comunmnete renombrada como *pd*

In [3]:
import pandas as pd

#Carguemos tambien Numpy para realizar ciertas operaciones
import numpy as np

### 1.3.2 Estructuras: Series, Dataframe, Panel 

Aquí encontraremos las estructuras básicas que se útilizan en Pandas



#### Series

Es un arreglo unidimensional capaz que puede conter cualquier tipo de datos y poseen una etiqueta para identificación

In [11]:
# Creemos nuestra primera Serie desde un arreglo de Numpy
s = pd.Series(np.random.randn(5))
s
print(type(s))

<class 'pandas.core.series.Series'>

In [23]:
avg_monthly_precip = np.loadtxt(fname = "data/avg-monthly-precip.txt")
print(avg_monthly_precip)
print(type(avg_monthly_precip))
months = np.genfromtxt("data/months.txt", dtype='str')
m_serie = pd.Series(avg_monthly_precip, index=months)
m_serie_ml = m_serie * 25.4
print(m_serie)
print(m_serie_ml)

[0.7  0.75 1.85 2.93 3.05 2.02 1.93 1.62 1.84 1.31 1.39 0.84]
<class 'numpy.ndarray'>
Jan     0.70
Feb     0.75
Mar     1.85
Apr     2.93
May     3.05
June    2.02
July    1.93
Aug     1.62
Sept    1.84
Oct     1.31
Nov     1.39
Dec     0.84
dtype: float64
Jan     17.780
Feb     19.050
Mar     46.990
Apr     74.422
May     77.470
June    51.308
July    49.022
Aug     41.148
Sept    46.736
Oct     33.274
Nov     35.306
Dec     21.336
dtype: float64

In [13]:
# Podemos indicar la etiqueda(índice) de nuestros datos 
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
s

a    0.375989
b   -0.611937
c   -0.155160
d   -0.431734
e    0.151918
dtype: float64

In [20]:
pesos = []
all_names = []
for i in range(1,4):
    name = input("Dame nombre de persona:")
    all_names.append(name)
    print("Dame el peso de %s"% name)
    pesos.append(int(input()))
familia = pd.Series(np.array(pesos) ,index=all_names)
familia

KeyboardInterrupt:

In [21]:
m_dict_name = {}
for i in range(1,4):
    name = input("Dame nombre de persona:")
    print("Dame el peso de %s"% name)
    peso = (int(input()))
    m_dict_name[name] = peso

familia = pd.Series(m_dict_name)
print(familia)

Dame nombre de persona: rafe1

Dame el peso de rafe1

 10
Dame nombre de persona: rafe2

Dame el peso de rafe2

 23
Dame nombre de persona: rafe3

Dame el peso de rafe3

 35

rafe1    10
rafe2    23
rafe3    35
dtype: int64

In [17]:
 # Y tambien podemos crearla desde un diccionario 
d = {'b': 1, 'a': 0, 'c': 2}
s2=pd.Series(d)
  
# ¡Toma las llaves como los índices!
s2

b    1
a    0
c    2
dtype: int64

In [18]:
# Operan muy similiarmente a los arreglos de Numpy

#Funcionan como un arreglo 
print(s2[2]*10)
print()

# Pero tambien funcionan como diccionario
print(s2['c']*10)
print()

# En este caso nos devuelve también el índice
print(s2[:2]*10) 
print()

# Y podemos usarlas como vectores para operaciones 
print(np.exp(s2))

20

20

b    10
a     0
dtype: int64

b    2.718282
a    1.000000
c    7.389056
dtype: float64

In [ ]:
s2

b    1
a    0
c    2
dtype: int64

#####Reto:  Crear una serie con pandas.

#### Dataframes 

Es un arreglo de columnas, puede ser visto como un conjunto series: ahora tenemos índices y columnas

In [24]:
# Creacion desde un diccionario de series 
d = {
    'Uno': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'Dos': pd.Series([1, 2, 3, 4.], index=['a', 'b', 'c', 'd'])
}

pd.DataFrame(d)

   Uno  Dos
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [39]:
frame_dict = {
    "inch": m_serie,
    "milimeter" : m_serie_ml
}

df_rain = pd.DataFrame(frame_dict)
df_rain

      inch  milimeter
Mar   1.85     46.990
Apr   2.93     74.422
May   3.05     77.470
June  2.02     51.308
July  1.93     49.022
Aug   1.62     41.148
Sept  1.84     46.736
Oct   1.31     33.274
Nov   1.39     35.306

In [50]:
m_mean = df_rain.mean()['inch']
np_mean = np.mean(df_rain['inch'])
print(f'np_mean:{np_mean}')
print(f'mean:{m_mean}')
df_rain[df_rain['inch'] > m_mean]

np_mean:1.6858333333333333
mean:1.6858333333333333

      inch  milimeter
Mar   1.85     46.990
Apr   2.93     74.422
May   3.05     77.470
June  2.02     51.308
July  1.93     49.022
Sept  1.84     46.736

In [26]:
# Creado entradas de indices y columnas, las cuales se llena como NaN (Not A Number)
pd.DataFrame(d,index=['a','b','f'], columns=['Uno','Dos','Tres'])

   Uno  Dos Tres
a  1.0  1.0  NaN
b  2.0  2.0  NaN
f  NaN  NaN  NaN

# 2. Uso básico de Pandas

A continucación realizaremos algunas operaciones básicas y útiles para usar en nuestra siguiente sección

In [27]:
# Consideremos la creación de un dataframe desde un diccionario

D={
    'A':pd.Series([100,200,300,400], index=['a','b','c','d']),
    'B':pd.Series([111,222,444],index=['a','b','d'])
}

df=pd.DataFrame(D)
df

     A      B
a  100  111.0
b  200  222.0
c  300    NaN
d  400  444.0

In [28]:
# Obtengamos los índices del dataframe
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [29]:
# Obtengamos las columnas 
df.columns

Index(['A', 'B'], dtype='object')

In [35]:
# Seleccionemos una columna 
df['A']
print(df.loc['a'])

A    100.0
B    111.0
Name: a, dtype: float64

In [ ]:
df

     A      B      C         D    E
a  100  111.0  False   11100.0    0
b  200  222.0   True   44400.0  200
c  300    NaN  False       NaN    0
d  400  444.0   True  177600.0  400

In [ ]:
# Creando columnas mediante la operación de columnas 
df['C'] = df['A'] % 200 == 0 
df['D']=df['A']*df['B']
df['E']=df['A']*df['C']
df

     A      B      C         D    E
a  100  111.0  False   11100.0    0
b  200  222.0   True   44400.0  200
c  300    NaN  False       NaN    0
d  400  444.0   True  177600.0  400

In [ ]:
# Borrando columnas de manera rápida 
#del df['C']
#df

In [ ]:
df = df.drop(['a','b'])
df

     A      B         D    E
c  300    NaN       NaN    0
d  400  444.0  177600.0  400

In [ ]:
# Podemos traer la una fila mediante su posición 
pd.DataFrame(df.iloc[0])

       c
A  300.0
B    NaN
D    NaN
E    0.0

In [ ]:
# O mediante su índice 
pd.DataFrame(df.loc['c'])

       c
A  300.0
B    NaN
D    NaN
E    0.0

# 3. Ejercicios 


**Ejercicio 1: ** Películas https://bit.ly/2L2AvyZ

Archivos: https://bit.ly/2ZyEI0h

## 3.1 Archivo *movies*

### 1. Crear el dataframe

### Nota utiliza los siguientes pasos, únicamente si estás ejecutando tu archivo desde Colaboratory. Si lo estás cargando en tu máquina local utiliza otro método

In [1]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

     |████████████████████████████████| 993kB 4.9MB/s eta 0:00:01
  Building wheel for PyDrive (setup.py) ... done

In [ ]:
# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
# Download a zip file based on its file ID.
#
# A file ID looks like: 1tDF08XYh1HnRDcY2dJxvP5ab14Q8L_9i
# https://drive.google.com/open?id=1tDF08XYh1HnRDcY2dJxvP5ab14Q8L_9i
file_id = '1tDF08XYh1HnRDcY2dJxvP5ab14Q8L_9i' # Get sharable link from file in Google Drive
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile(downloaded['title'])

In [60]:
ls "../Ejercicios/Ejercicio 1/movielens"

README.txt   links.csv    movies.csv   ratings.csv  tags.csv

In [61]:
movies = pd.read_csv('../Ejercicios/Ejercicio 1/movielens/movies.csv')
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [70]:
!head "../Ejercicios/Ejercicio 1/movielens/movies.csv"

movieId,title,genres
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action

In [63]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

###  2. ¿Conocemos los datos?

#### Columnas

In [66]:
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

#### Tamaño

In [67]:
movies.shape

(9742, 3)

In [71]:
len(movies)

9742

In [72]:
!wc -l "../Ejercicios/Ejercicio 1/movielens/movies.csv"

    9743 ../Ejercicios/Ejercicio 1/movielens/movies.csv

In [73]:
movies.size

29226

#### Tipos de datos

In [74]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

###  3. Renombrar las columnas ID, Titulo, Genero

In [79]:
movies.columns = ["ID","Titulo","Genero"]
movies.head(30)

,ID,Titulo,Genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama

###  4. ¿Hay Valores nulos (NaN) en las columnas?

In [98]:
movies.isnull().any()

ID        False
Titulo    False
Genero    False
dtype: bool

###  5. Regresa algunas secciones
    - Segunda Columna ¿Acaso los valores son únicos?
    - Registro número 40

In [107]:
#print(len(movies.Titulo.unique()) == len(movies.Titulo))
#print(len(movies.Titulo.unique())) 
#print(len(movies.Titulo))
movies['Titulo'].count()
#movies.iloc[40]

9742

## 2. Archivo ratings

1. ¿Conocemos los datos? 
    - ¿Entendemos todos?

2. Obtengamos los estadísticos básicos de las calificaciones 

3. Cambiemos la escala de las calificaciones de un máximo de 5 a 100

4. ¿Cuántas calificaciones tiene cada película? ¿Cuál es la calificación media de cada uno? 
    Nota: agrupen las calificaciones y cuenten las clasificaciones 

5. ¿cuáles son las películas son las 20 mejores  y peores según las calificaciones? ¿Cuáles son las más calificadas? 

3. Pongamonos serios:

1. La columna de genero en el DataFrame tiene divisiones, ¿podemos poner cada genero en una columna? 
2. Concatena las nuevas columnas y quita la columna vieja